.__className_ac79ff{
  align-items: center;
  text-align: center;
  font-family: "Poppins";
}

.transparency-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Percentage-display{
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.Tittle {
  font-size: 20px;
  font-weight: bold;
  color: #484848;
  padding: 5%;
}

.Percentage-display .ant-progress-text{
  color: white !important;  
}

.transparency-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Facilities-container{
  font-family: 'Source Sans 3';
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 17px;  
}
.component-facility{
  padding: 5px;
  color: grey;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.Facilities{  
  border-radius: 21px;
  border: #DDDDDD 1px solid;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 17px;  
}

.GreenPoint1 {
  color: #484848;
  font-size: 20px;
  font-weight: bold;
  text-align: start;
  color: white;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #335C6A;
  width: 327px; 
  height: 340px;
  top: 172px;
  padding: 16px;
  border-radius: 16px;
  border: 1px;
  gap: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.GreenPoint2 {
  color: #484848;
  font-size: 20px;
  font-weight: bold;
  text-align: start;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #FFB419;
  width: 327px;
  height: 340px;
  top: 172px;
  padding: 16px;
  border-radius: 16px;
  border: 1px;
  gap: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}